<div id="container">
   <div id="content">
     <div *ngIf="(employees$ | async)?.length == 0" style="font-size: 12px;">First time loading in your machine will not have data, once feed the data it will retain for further reload with local storage.</div>
      <ul>
         <li *ngFor="let employeesdata of employees$ | async; let i = index">
            <div id="conMainDiv">
               <div class="name">{{i+1}}. {{employeesdata.name}}</div>
               <div class="age">{{employeesdata.age}}</div>
               <div class="salary">{{employeesdata.salary}}</div>
               <div class="action"> 
                  <a (click)="deleteEmployee(employeesdata.id, employeesdata.name)" >Delete</a> / <a (click)="editEmployee(employeesdata.id)" >Edit</a> 
               </div>
            </div>
         </li>
      </ul>         
      <div>
         <button class="button" (click)="redirectToAddEmployee()"><span>Add Employee</span></button>
      </div>      
   </div>
</div>